<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Home Page</title>
    <link rel="stylesheet" href="../../styles/registrationform.css">
</head>
  <body>
    <form>
    <center>
    <table>
    <p style="text-align:center;"><b>Register</b></p>
        <tr>
         <td><label for="name">Name:</label></td>
         <td><input type ="text" id="name" name="name"></td>
        </tr>
        
        <tr>
        <td><label for="Phone number">Phone number:</label></td>
        <td><input type="number" id="Phone number" name:"Phone number"></td>
        </tr>
        <tr>
        <td><label for="username">username</label></td>
        <td><input type="text" id="username" name="username"></td>
        </tr>
        <tr>
        <td><label for="Email">Email</label></td>
        <td><input type="Email id" id="Email id" name="Email id"></td>
        </tr> 
       <tr>
        <td><label for="Password">Password</label></td>
        <td><input type="text" id="Password" name="Password"></td>
        </tr>
       <tr>
        <td><label for="Confirm Password">Confirm Password</label></td>
        <td><input type="text" id="Confirm password" name="Confirm password"></td>
        </tr>
     </table>

      <br>
      <td colspan="2"><input type="submit" value="Login"></td>

     </center>
     </form>
    </body>
  
</html>