<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Home Page</title>
    <link rel="stylesheet" href="../../styles/homepage.css">
</head>
<body>
    <header>
        <h1>Welcome to Our Product Store</h1>
    </header>
    <main>
        <section class="product-list">
            <div class="product">
                <img src="https://img.freepik.com/free-vector/beauty-accessories-set_23-2147811431.jpg?w=740&t=st=1723458918~exp=1723459518~hmac=f19ac7ed091abec5958323c1f347bb555414702d29673f191cb632ab1bf1653f" alt="Product 1">
                <h2>Product 1</h2>
                <p>$199.12</p>
                <button>Add to Cart</button>
            </div>
            <div class="product">
                <img src="https://img.freepik.com/free-photo/minimal-arrangement-beauty-products_23-2148961322.jpg?w=996&t=st=1723459190~exp=1723459790~hmac=fa1a537b94307b3b4c09bb35263dc1e2cb9ceef47d8b768385feaa3b96e6fc2f" alt="Product 2">
                <h2>Product 2</h2>
                <p>$295.99</p>
                <button>Add to Cart</button>
            </div>
            <!-- Add more products as needed -->
             <div class="product">
                <img src="https://img.freepik.com/free-photo/woman-shopping-thrift-store_23-2150952350.jpg?t=st=1723462099~exp=1723465699~hmac=e2d2d5979ab31eb4a698e17d0ef7107f25fbaaf26fb2df5241db1f6dae00293d&w=996 "alt="product 3" >
                <h2>product 3</h2>
                <p>$399.12</p>
                <button>Add to Cart</button>
             </div>
             <div class="product">
                <img src="https://img.freepik.com/free-photo/woman-shopping-thrift-store_23-2150952350.jpg?t=st=1723462099~exp=1723465699~hmac=e2d2d5979ab31eb4a698e17d0ef7107f25fbaaf26fb2df5241db1f6dae00293d&w=996 "alt="product 3" >
                <h2>product 4</h2>
                <p>$399.12</p>
                <button>Add to Cart</button>
             </div>
             <div class="product">
                <img src="https://img.freepik.com/free-photo/woman-shopping-thrift-store_23-2150952350.jpg?t=st=1723462099~exp=1723465699~hmac=e2d2d5979ab31eb4a698e17d0ef7107f25fbaaf26fb2df5241db1f6dae00293d&w=996 "alt="product 3" >
                <h2>product 5</h2>
                <p>$399.12</p>
                <button>Add to Cart</button>
             </div>
        </section>
    </main>
    <script src="scripts.js"></script>
</body>
</html>
