<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Home Page</title>
    <link rel="stylesheet" href="../../styles/homepage.css">
</head>
<!-- css-->
 <!-- bootstrap-->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
 
  <!-- bootstrap-->
<style>

</style>
<!--css ends-->
<body>
    <header>
        <h1>Welcome to Our Product Store</h1>
    </header>
    <main>
        <section class="product-list">
            <div class="product">
                <img src="https://img.freepik.com/free-photo/studio-with-props-photography_23-2148885652.jpg?t=st=1723528944~exp=1723532544~hmac=744d9373e066792ed2faf948eb4e3ff2aa8389c5ed98aea2b900c3587dcdcb59&w=996" alt="Product 1">
                <h2>Product 1</h2>
                <p>₹ 199.12</p>
                <button style="background-color: rgb(183, 249, 42);" >Buy now</button>
                <button>Add to Cart</button>
            </div>
            <div class="product">
                <img src="https://img.freepik.com/free-photo/still-life-with-classic-shirts-hanger_23-2150828624.jpg?t=st=1723528678~exp=1723532278~hmac=ae4db28356257c67a2b0041742b1b4ba6bdb94bfe67473125c2c134cfcc2300b&w=996" alt="Product 2">
                <h2>Product 2</h2>
                <p>₹ 295.99</p>
                <button style="background-color: rgb(183, 249, 42);" >Buy now</button>
                <button>Add to Cart</button>
            </div>
            <!-- Add more products as needed -->
             <div class="product">
                <img src="https://img.freepik.com/free-psd/view-hawaiian-shirt-with-clothing-rack_23-2150819296.jpg?t=st=1723528777~exp=1723532377~hmac=a0f0d73c3ec84b4b2b812553ab20bef1d6e514f14ac0ca4b81020cb61ff8caad&w=996"alt="product 3" >
                <h2>product 3</h2>
                <p>₹ 399.12</p>
                <button style="background-color: rgb(183, 249, 42);" >Buy now</button>
                <button>Add to Cart</button>
             </div>
             <div class="product">
                <img src="https://img.freepik.com/free-photo/woman-shopping-thrift-store_23-2150952350.jpg?t=st=1723462099~exp=1723465699~hmac=e2d2d5979ab31eb4a698e17d0ef7107f25fbaaf26fb2df5241db1f6dae00293d&w=996 "alt="product 3" >
                <h2>product 4</h2>
                <p>₹ 399.12</p>
                <button style="background-color: rgb(183, 249, 42);" >Buy now</button>
                <button>Add to Cart</button>
             </div>
             <div class="product">
                <img src="https://img.freepik.com/free-photo/front-view-cute-japanese-girl-shopping_23-2148665348.jpg?t=st=1723528850~exp=1723532450~hmac=45f681a1c1a2940d624979aa33b230e574e505f0ad8b923369dc703d8dae0f4a&w=996"alt="product 3" >
                <h2>product 5</h2>
                <p>₹ 399.12</p>
                <button style="background-color: rgb(183, 249, 42);" >Buy now</button>
                <button>Add to Cart</button>
             </div>
        </section>
    </main>
    <script src="scripts.js"></script>
</body>
</html>
