body {
    text-align: left;
}

h1 {
    color: green;
}

table.one {
  
    /* Styling border collapse for table one. */
    border-collapse: collapse;
}

table.two {
  
    /* Styling border separate for table two. */
    border-collapse: separate;
}

table,
td,
th {
    border: 1.5px solid blue;
}


table,th,td{
    border:5px solid black;
    border-collapse:collapse;
  }
  td{
    padding:10px;
  }
  th{
  text-align:left;
  }